<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Edit Edukasi</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Edit Konten Edukasi</h1>
    <nav>
      <a href="{{ url_for('edukasi') }}">← Kembali ke Daftar Edukasi</a>
    </nav>
  </header>

  <main>
    <form method="POST">
      <input type="text" name="judul" value="{{ data[1] }}" required><br>
      <textarea name="isi" required>{{ data[2] }}</textarea><br>
      <button type="submit">Simpan Perubahan</button>
    </form>
  </main>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
